In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/raw/external/FRBSTATS2022-11-23_population.csv')

In [4]:
data.telescope.value_counts()

CHIME               632
ASKAP                56
Parkes               40
UTMOST               17
GBT                  15
Arecibo              14
LPA                  11
WSRT/Apertif          6
FAST                  5
VLA                   4
Effelsberg            4
GMRT                  4
SRT                   3
MeerKAT               3
ATA                   1
Tianlai               1
DSA                   1
Stockert              1
ASKAP_Incoherent      1
Name: telescope, dtype: int64

In [7]:
data[data.frb == "FRB 20201124A"]

,frb,utc,mjd,telescope,ra,dec,l,b,frequency,dm,flux,width,fluence,snr,reference,redshift,redshift_measured,ra_error,dec_error,dm_error
773,FRB 20201124A,2020-11-24 8:50:42,59177.36854,CHIME,05:07:57.600,+26:11:24.00,177.65,-8.47,600.0,410.83,-,-,-,13.78,https://www.wis-tns.org/object/20201124a,0.2443,-,-,-,3.23

In [19]:
chimefrb = pd.read_csv('../data/raw/external/Hashimoto2022_chimefrbcat1.csv')
chimefrb.tns_name

0      FRB20180725A
1      FRB20180727A
2      FRB20180729A
3      FRB20180729B
4      FRB20180730A
           ...
594    FRB20190701A
595    FRB20190701B
596    FRB20190701C
597    FRB20190701D
598    FRB20190701E
Name: tns_name, Length: 599, dtype: object