In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/raw/chimefrbcat1_Hashimoto_2022.csv')
df.columns

Index(['tns_name', 'previous_name', 'repeater_name', 'ra', 'ra_err',
       'ra_notes', 'dec', 'dec_err', 'dec_notes', 'gl',
       ...
       'weight_fluence_error_m', 'weight', 'weight_error_p', 'weight_error_m',
       'weighted_logrhoA', 'weighted_logrhoA_error_p',
       'weighted_logrhoA_error_m', 'weighted_logrhoB',
       'weighted_logrhoB_error_p', 'weighted_logrhoB_error_m'],
      dtype='object', length=107)

In [28]:
data = df.groupby('repeater_name').groups
data.pop('-9999') # Removes non repeaters
data

{'FRB20121102A': [103, 104, 105], 'FRB20180814A': [12, 25, 33, 34, 35, 38, 75, 76, 77, 78, 79, 100, 109, 484, 547, 548, 577, 578, 579], 'FRB20180908B': [22, 566], 'FRB20180916B': [30, 65, 66, 87, 88, 108, 162, 163, 164, 165, 171, 172, 181, 184, 185, 266, 489, 490, 497, 498, 499, 500, 501, 502, 503, 522, 526, 527, 528, 533, 534, 535, 536], 'FRB20181017A': [61, 319], 'FRB20181030A': [81, 82], 'FRB20181119A': [106, 211, 372], 'FRB20181128A': [120, 121, 157, 508], 'FRB20190116B': [239, 240], 'FRB20190117A': [245, 591], 'FRB20190208A': [295, 296, 297, 298, 419], 'FRB20190209A': [299, 302], 'FRB20190212A': [310, 313, 314], 'FRB20190213A': [311, 480], 'FRB20190222A': [335, 354, 355], 'FRB20190303A': [360, 449, 450], 'FRB20190417A': [441], 'FRB20190604A': [524, 537]}

In [72]:
repeaters = pd.DataFrame({'name': data.keys(), 'sample_id':data.values()})
repeaters = repeaters.explode(['sample_id'])
repeaters

            name sample_id
0   FRB20121102A       103
0   FRB20121102A       104
0   FRB20121102A       105
1   FRB20180814A        12
1   FRB20180814A        25
..           ...       ...
15  FRB20190303A       449
15  FRB20190303A       450
16  FRB20190417A       441
17  FRB20190604A       524
17  FRB20190604A       537

[93 rows x 2 columns]

In [73]:
df = df.reset_index()
df

,level_0,index,tns_name,previous_name,repeater_name,ra,ra_err,ra_notes,dec,dec_err,...,weight_fluence_error_m,weight,weight_error_p,weight_error_m,weighted_logrhoA,weighted_logrhoA_error_p,weighted_logrhoA_error_m,weighted_logrhoB,weighted_logrhoB_error_p,weighted_logrhoB_error_m
0,0,0,FRB20180725A,180725.J0613+67,-9999,93.42,0.04,-9999,67.10,0.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,FRB20180727A,180727.J1311+26,-9999,197.70,0.10,-9999,26.40,0.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,FRB20180729A,180729.J1316+55,-9999,199.40,0.10,-9999,55.58,0.08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,FRB20180729B,180729.J0558+56,-9999,89.90,0.30,-9999,56.50,0.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,FRB20180730A,180730.J0353+87,-9999,57.39,0.03,-9999,87.20,0.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
594,594,594,FRB20190701A,-9999,-9999,277.50,0.20,-9999,59.00,0.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
595,595,595,FRB20190701B,-9999,-9999,302.90,0.20,-9999,80.20,0.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596,596,596,FRB20190701C,-9999,-9999,96.40,0.20,-9999,81.60,0.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,597,597,FRB20190701D,-9999,-9999,112.10,0.20,-9999,66.70,0.20,...,0.000649,1.361506,0.574701,0.206776,0.813142,0.485293,0.109293,0.894742,0.25519,0.19035
598,598,598,FRB20190701E,-9999,-9999,138.60,0.20,-9999,61.71,0.04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
rp = repeaters.merge(df[['index','tns_name']], right_on='index', left_on='sample_id')#.rename(columns={'tns_name': 'samples'})[['name', 'samples']]
rp.groupby('name').tns_name.aggregate(list)

name
FRB20121102A           [FRB20181119D, FRB20181119D, FRB20181119D]
FRB20180814A    [FRB20180814A, FRB20180911C, FRB20180917A, FRB...
FRB20180908B                         [FRB20180908B, FRB20190621A]
FRB20180916B    [FRB20180916B, FRB20181019A, FRB20181019A, FRB...
FRB20181017A                         [FRB20181017A, FRB20190216A]
FRB20181030A                         [FRB20181030A, FRB20181030B]
FRB20181119A           [FRB20181119A, FRB20190103A, FRB20190313A]
FRB20181128A    [FRB20181128A, FRB20181128A, FRB20181219A, FRB...
FRB20190116B                         [FRB20190116A, FRB20190116B]
FRB20190117A                         [FRB20190117A, FRB20190630A]
FRB20190208A    [FRB20190208A, FRB20190208A, FRB20190208A, FRB...
FRB20190209A                         [FRB20190209A, FRB20190210A]
FRB20190212A           [FRB20190212A, FRB20190213B, FRB20190213B]
FRB20190213A                         [FRB20190213A, FRB20190515C]
FRB20190222A           [FRB20190222A, FRB20190301A, FRB20190301A]
FRB20190303A           [FRB20190303A, FRB20190421A, FRB20190421A]
FRB20190417A                                       [FRB20190417A]
FRB20190604A                         [FRB20190604A, FRB20190606A]
Name: tns_name, dtype: object

In [87]:
rptes = pd.DataFrame({'name': data.keys(), 'sample_id':data.values()})
rptes['samples'] = rp.groupby('name').tns_name.aggregate(list)
rptes['samples']

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
Name: samples, dtype: object